.cards {
    word-wrap: wrap;

    @media (max-width:768px) {
        width: 100%;
        padding: 20px 20px 20px 0;
    }
    @media (min-width:768px) {
        width: 50%;
        padding: 20px 20px 20px 0;
    }
    @media (min-width:1024px) {
        width: calc(100% / 3);
        padding: 20px 20px 20px 0;
    }


    h4 {
        padding: 10px 0;
    }

    p {
        color: #FFFFFF;
    }

    img {
        border: 1px solid white;
        background: white;
        border-radius: 24px;
        padding: 20px;
    }
}

.cards_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);

    }
    @media (min-width:768px) {
        grid-template-columns: repeat(2, 1fr);

    }
    @media (min-width:1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
        >li{
            display: flex;
            &:last-child{
                @media (min-width:768px){
                    grid-column: 1/3;
                }
                @media (min-width:1024px){
                    grid-column: 3/4;
                }
            }
        } 
}

.card {
    margin: 0 10px 0 0;
    width: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;

    @media (max-width:768px) {
        margin: 0 20px 0 0;
    }

    &__visual{
        margin: 0 0 10px;
        img{
            width: 100%;
        }
    }

    &__heading{
        border-bottom: 4px solid #E6E6F0;
        margin: 0 0 10px;
    }

    &__text{
        padding: 20px;
    }

    h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24A3FF;
        margin: 10px 0;
    }

    time {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #B3B3BA;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
    }
}