.footer{
    background: #F5F5FA;
    min-height: 150px;
    @media (max-width:576px) {
        min-height: 200px;
    }   

    &__box{
        @media (min-width:768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    & .border{
        padding: 30px 0 0;


        @media (min-width:768px) {
            padding: 30px 0 0;
            border-bottom: 1px solid #E6E6F0;
            width: 1320px;
            margin: 0 auto;
        }
    }

    &--contacts{

        img{
            @media (max-width:768px) {
                display: none;
            }
            @media (min-width:768px) {
                    padding: 0 5px;
                }
        }

    }

    &__contacts_1{
        @media (max-width:768px) {
            text-align: center;
        }
        
        @media (min-width:768px) {
            display: flex;
            padding: 30px 0 30px 0;
        }
        p{
            color: #323264;
            font-weight: 400;
            line-height: 20px;
        }

        h4{
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__contacts_2{
        @media (min-width:768px) {
            display: flex;
            align-items: center;

        }

        @media (max-width:768px) {
            text-align: center;
            padding: 15px 0;
        }
        
        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
        .icon-icon-face{
            font-size: 32px;
            color: #24A3FF;
        }

        img{

            @media (max-width:576px) {
                display: none;
        }
        }

        p{
            color: #46466E;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        

            @media (max-width:768px) {
                padding: 15px 0;
            }
        }

        h4{
            font-size: 16px;
            line-height: 20px;
        }
    }

    &--aside{
        padding: 30px 0 30px 0;
        text-align: center;
        align-items: center;

        @media (max-width:576px) {
            display: flex;
        }
        @media (max-width:767px) {
            justify-content: center;
            padding: 20px 0 30px 0;
        }
        span{
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
        
    }
}