span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    // overflow: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #B3B3BA;
}

h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #24A3FF;
}